.navButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bar {
  display: block;
  width: 16px;
  height: 2px;
  background: rgb(255, 94, 42);
  margin: 2px 0;
  transition: 0.4s;
  border-radius: 2px;
}

.menu {
  max-width: 200px;
  position: absolute;
  top: -28px;
  left: -300px;
  background: white;
  width: 300px;
  height: auto;
  min-height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  padding-top:50px;
}

.menu.open {
  left: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0 8px;
}

.menu li {
  border-bottom: 2px solid #ff5e2a;
}

.menu a {
  display: block;
  padding: 16px 0;
  text-decoration: none;
  color: #ff5e2a;
  font-weight: bold;
}

.menu a:hover {
  background: #f4f4f4;
}
